@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins/padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'MundialBlack', sans-serif;
}

/* Custom font */
@font-face {
    font-family: 'MundialBlack';
    src: url('./assets/fonts/MundialBlack.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

ul {
    list-style: none; /* remove bullets */
    padding: 0;       /* remove default padding */
    margin: 0;        /* remove default margin */
}
li {
    list-style: none; /* remove bullets from individual items */
}
